@model IEnumerable<CrudTest.Entities.Category>

@{
    ViewData["Title"] = "Index";
    var i = 0;
}

<h1>Categories</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            i++;
            <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" href="@Url.Action("Dashboard", "Home")">Back</a>

