@model IEnumerable<CrudTest.Entities.Category>

@{
    ViewData["Title"] = "Index"; 
    Layout = "_layoutAdmin";
    var i = 0;
}

<h1>Categories</h1>

<p>
    <a class="btn btn-primary" asp-action="tao-moi" asp-controller="danh-muc">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            i++;
            <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="Details">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
        </tr>
}
    </tbody>
</table>
