@model IEnumerable<CrudTest.Entities.Category>

@{
    ViewData["Title"] = "Index"; 
    Layout = "_layoutAdmin";
    var i = 0;
}

<h1>Categories</h1>

<p>
    <a class="btn btn-primary" asp-action="tao-moi" asp-controller="danh-muc">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            i++;
            <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Categories" asp-route-name="@(item.Name)">Edit</a>
                    <a class="btn btn-danger" asp-action="xoa" asp-controller="danh-muc" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
