<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CrudTest</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckbox.io/ckbox/2.4.0/ckbox.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/settings.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CrudTest.styles.css" asp-append-version="true" />

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="css/settings.css" media="screen">
</head>
<body>
    <header>
        <div class="container-fluid">

            <!-- Slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/slide.jpg" class="d-block w-100" alt="slidebg1">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slide.jpg" class="d-block w-100" alt="slidebg2">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slide.jpg" class="d-block w-100" alt="slidebg3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
            <!-- //Slider -->
            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a><img src="~/images/logo.jpg" alt=""></a></div>
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                            <div class="dropdown">
                                <a class="btn btn-primary" data-toggle="dropdown" href="#">Borderlands 2</a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Borderlands 1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Borderlands 2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Borderlands 3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form asp-action="Search" method="get" class="form">
                                    <div class="pull-left txt"><input type="text" name="searchString" class="form-control" placeholder="Search by name..." /></div>
                                    <div class="pull-right"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-7 col-md-5 avt">
                            <div class="stnt pull-left" style="padding: 19px 10px ">
                                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="btn btn-primary" href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                            </div>
                            <div class="env pull-left" style="padding: 19px 10px "><i class="fa fa-envelope"></i></div>

                            <div class="avatar pull-left dropdown" style="padding: 19px  ">
                                <a href="#" onclick="toggleDropdown()" id="avatarDropdown"><img src="~/images/avatar.jpg" alt=""></a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu" id="dropdownMenu" style="display:none">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Inbox</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Log Out</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-4" href="#">Create account</a></li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        @RenderBody()
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <!-- -->
                        <div class="sidebarblock">
                            <h3>Categories</h3>
                            <div class="divline"></div>
                            <div class="blocktxt">
                                <ul class="cats" id="categoryHeaderContainer">
                                    <!-- Categories will be loaded here -->
                                </ul>
                            </div>
                        </div>

                        <!-- -->
                        <div class="sidebarblock">
                            <h3>Poll of the Week</h3>
                            <div class="divline"></div>
                            <div class="blocktxt">
                                <p>Which News you are reading today?</p>
                                <form action="#" method="post" class="form">
                                    <table class="poll">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                                            Blockchain
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="chbox">
                                                    <input id="opt1" type="radio" name="opt" value="1">
                                                    <label for="opt1"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar color2" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                                                            Quốc Hội khóa XV
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="chbox">
                                                    <input id="opt2" type="radio" name="opt" value="2" checked="">
                                                    <label for="opt2"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar color3" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                                            Messi là GOAT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="chbox">
                                                    <input id="opt3" type="radio" name="opt" value="3">
                                                    <label for="opt3"></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                                <p class="smal">Voting ends on 2nd of June</p>
                            </div>
                        </div>

                        <!-- -->

                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"><img src="~/images/logo.jpg" alt=""></a></div>
                <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyrights 2014, websitename.com</div>
                <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                    <ul class="socialicons">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-cloud"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetDataHeader", "Categories")',
                type: 'GET',
                success: function (data) {
                    $('#categoryHeaderContainer').html(data);
                    $('.category-link').on('click', function () {
                        var categoryId = $(this).data('category-id');
                        loadNewsByCategory(categoryId);
                    });
                },
                error: function () {
                    $('#categoryHeaderContainer').html('<p>Error loading categories.</p>');
                }
            });

            function loadNewsByCategory(categoryId) {
                $.ajax({
                    url: '@Url.Action("GetNewsByCategory", "Categories")',
                    type: 'GET',
                    data: { categoryId: categoryId },
                    success: function (data) {
                        $('#newsContainer').html(data);
                    },
                    error: function () {
                        $('#newsContainer').html('<p>Error loading news.</p>');
                    }
                });
            }
        });
    </script>
    <script>
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            if (dropdownMenu.style.display === "none") {
                dropdownMenu.style.display = "block";
            } else {
                dropdownMenu.style.display = "none";
            }
        }
    </script>
</body>
</html>
