@model IEnumerable<CrudTest.Entities.News>

@{
    ViewData["Title"] = "Index";
    Layout = "_layoutAdmin";
    var i = 0;
    var category = ViewData["Category"] as IEnumerable<CrudTest.Entities.Category>;
}

<h1>News</h1>

<p>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Content</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <th scope="row">@i</th>
                <td>@item.Name</td>
                <td><img src="@Url.Content(item.Image)" alt="Image" style="max-width: 150px; max-height: 150px;" /></td>
                <td>@item.Content</td>
                <td>@item.CategoryNavigation?.Name</td>
                <td>
                    <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal" onclick="CheckinData('@item.Id', '@item.Name', '@item.Image', '@item.Content', '@item.Category')">Edit</a>
                    <a class="btn btn-danger" onclick="Delete('@item.Id')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create News</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="newsForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="modal-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="modal-name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="modal-image" class="col-form-label">Image:</label>
                        <input type="file" class="form-control" id="modal-image" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="modal-content" class="col-form-label">Content:</label>
                        <textarea class="form-control" id="modal-content" name="content"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modal-category" class="col-form-label">Category:</label>
                        <select id="modal-category" class="form-control" name="category">
                            @foreach (var data in category)
                            {
                                <option value="@data.Id">@data.Name</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="PostData()" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit News</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="modal-id-edit" name="id">
                    <div class="mb-3">
                        <label for="modal-name-edit" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="modal-name-edit" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="modal-image-edit" class="col-form-label">Current Image:</label><br>
                        <img id="current-image" src="" alt="Current Image" style="max-width: 150px; max-height: 150px; margin-bottom: 10px;">
                        <input type="file" class="form-control" id="modal-image-edit" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="modal-content-edit" class="col-form-label">Content:</label>
                        <textarea class="form-control" id="modal-content" name="content"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modal-category-edit" class="col-form-label">Category:</label>
                        <select id="modal-category-edit" class="form-control" name="category">
                            @foreach (var data in category)
                            {
                                <option value="@data.Id">@data.Name</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="EditData()" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>


<script>
    function PostData() {
        var formData = new FormData($('#newsForm')[0]);
        var content = $('#modal-content').val();
        formData.append('content', content);

        $.ajax({
            url: "/tin-tuc/tao-moi",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                window.location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    function EditData() {
        var formData = new FormData($('#editForm')[0]);
        var content = $('#modal-content').val();
        formData.append('content', content);

        $.ajax({
            url: "/tin-tuc/sua",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                window.location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    function Delete(id) {
        $.ajax({
            url: "/tin-tuc/xoa/" + id,
            type: "post",
            data: { id: id },
            success: function (response) {
                window.location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    function CheckinData(id, name, image, content, category) {
        $("#modal-id-edit").val(id);
        $("#modal-name-edit").val(name);
        $("#modal-content").val(content);
        $("#modal-category-edit").val(category);
        $('#current-image').attr('src', image);
    }
    ClassicEditor
        .create(document.querySelector('#modal-content'), {
            ckbox: {
                tokenUrl: '@ViewData["Token"]',
                theme: 'lark'
            },
            toolbar: [
                'ckbox', 'imageUpload', '|', 'heading', '|', 'undo', 'redo', '|', 'bold', 'italic', '|',
                'blockQuote', 'indent', 'link', '|', 'bulletedList', 'numberedList'
            ],
        })
        .catch(error => {
            console.error(error);
        });

</script>

